<h1>動画選択画面</h1>
<%= form_with model: @s3file do |f|%>
  <div class="form-group">
    <%= f.file_field :key, class: 'form-control' %>
  </div>
  <%= f.submit 'アップロード', class: 'btn btn-primary'%>
<% end %>
