<div class="container">
  <h3>動画一覧</h3>
  <div class="row">
    <% @s3files.each do |s3file| %>
    <div class="col-md-4 border p-3">
      <%= link_to "/videos/#{s3file.id}", controller: "show" do %>
        <div class="thumbnail_inner">
          <h1 class="py-5 border">サムネ</h1>
          <div class="h5"><%= s3file.video.title %></div>
          <div class="video_container">
            <p>説明：<%= s3file.video.description %></p>
            <p>備考：<%= s3file.video.remarks %></p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
