<div class="container-fluid video–container">
  <div class="row">
    <div class="video-box_show col-md-9">
      <div class="video-inner_show">
        <video-js controls id=player-id class="vjs-theme-sea" data-setup='{"liveui": true,"fluid": true}'>
          <source src="https://dbttkdv05ce2y.cloudfront.net/encode/<%= @s3file_name%>_hls.m3u8"
            type="application/x-mpegURL">
        </video-js>
      </div>
      <div class="video-info-inner_show">
        <div class="video-info-title border-bottom">
          <h4><%= @s3file.video.title %></h4>
          <div class="video-info-update_at"><%= @s3file.video.updated_at %></div>
        </div>
        <div class="video-info">▼動画の説明</div>
        <div class="video-info-description"><%= @s3file.video.description %></div>
      </div>
    </div>
    <%#=  
    <div class="user-comment-box col-md-3 bg-light">
      <p>コメントボックス</p>
    </div>
     %>
  </div>
</div>
