// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

.header-inner {
  padding: 0px 14px;
  align-items: center;
}

.header-logo_inner {
  display: block;
	font-size: 0;

  & img {
    width: 140px;
	  height: 65px;
  }
}

.header-icon-inner {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #a0a0a0;
  color: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px; 
	border-radius: 50px;
  text-align: center;
  line-height: 50px;

  & .header-icon-name {
    color: white;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 0 0 0;
  }

  & .btn {
    box-shadow: none !important;
  }
}

.search-box {
  & .btn {
    vertical-align: baseline;
  }
}

.search-box-form {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.notice {
  background-color: #98e9e9;
  padding-left: 10px;
}

.origin-alert {
  background-color: #ffb097;
  padding-left: 10px;
}
