.session-container {
  justify-content: center;
}

.session-inner {
  border: solid 1px;
  border-radius: 10px;
  padding: 50px 30px;
}

.session-title {
  text-align: center;
}

.form-field {
  padding-top: 30px;
}

.form-field-box {
  width: 100%;
}

.session-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.form-link {
  padding-top: 8px;
}
