// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .video-js {
// }

.thumbnail-innner {
  height: 200px;

  & img {
    display: block;
    height: 200px;
    object-fit: fill;
    width: 100%;
  }
}
