<h1>動画詳細#admin用ページ</h1>
<p>Find me in app/views/video/show.html.erb</p>
<%= javascript_pack_tag 'hello_vue' %>
<p>Video-jsのテスト</p>
<video-js controls autoplay preload id=player-id class="vjs-theme-sea" data-setup='{"liveui": true,"fluid": true}'>
  <source src="https://dbttkdv05ce2y.cloudfront.net/encode/IMG_0245IMG_hls.m3u8" type="application/x-mpegURL">
</video-js>
<video-js controls autoplay preload id=player-id class="vjs-theme-sea" data-setup='{"liveui": true,"fluid": true}'>
  <source src="https://dbttkdv05ce2y.cloudfront.net/encode/RPReplay_Final1631093404_hls.m3u8" type="application/x-mpegURL">
</video-js>
<%# <video-js controls autoplay preload class="vjs-theme-sea" id="player-id" data-setup='{"liveui": true,"fluid": true}'>
  <source src="https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8" type="application/x-mpegurl">
</video-js> %>
